table {
    border-collapse: collapse;
    width:80%;
    border-color: gainsboro;
}

td {
    height: 20px;
    vertical-align: top;
    text-align: left;
    padding: 10px;
    font-family: arial, sans-serif;
}

tr:nth-child(odd) {background-color: #f2f2f2}

h1, h3, label, p {
    font-family: arial, sans-serif;}
}
